@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px 0 60px;
  align-items: center;
  border-bottom: 1px solid rgb(101, 96, 96);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  gap: 10px;
}

.logo-img {
  height: 84px;
  width: 84px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: rgb(38, 121, 177);
}

.head {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
}

.list {
  text-decoration: none;
}
